[submodule "data-setup"]
	path = data-setup
	url = https://github.com/CassienB/data-setup.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/CassienB/dotfiles.git
[submodule "data-sum-of-three"]
	path = data-sum-of-three
	url = https://github.com/CassienB/data-sum-of-three.git
[submodule "data-string-manipulation"]
	path = data-string-manipulation
	url = https://github.com/CassienB/data-string-manipulation.git
[submodule "data-data-structure"]
	path = data-data-structure
	url = https://github.com/CassienB/data-data-structures.git
[submodule "data-debugging"]
	path = data-debugging
	url = https://github.com/CassienB/data-debugging.git
[submodule "data-system-parameters"]
	path = data-system-parameters
	url = https://github.com/CassienB/data-system-parameters.git
[submodule "data-csv"]
	path = data-csv
	url = https://github.com/CassienB/data-csv.git
[submodule "data-api"]
	path = data-api
	url = https://github.com/CassienB/data-api.git
[submodule "data-table-design"]
	path = data-table-design
	url = https://github.com/CassienB/data-table-design.git
[submodule "data-db-design"]
	path = data-db-design
	url = https://github.com/CassienB/data-db-design.git
