[submodule "data-setup"]
	path = data-setup
	url = https://github.com/CassienB/data-setup.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/CassienB/dotfiles.git
[submodule "data-sum-of-three"]
	path = data-sum-of-three
	url = https://github.com/CassienB/data-sum-of-three.git
[submodule "data-string-manipulation"]
	path = data-string-manipulation
	url = https://github.com/CassienB/data-string-manipulation.git
[submodule "data-data-structure"]
	path = data-data-structure
	url = https://github.com/CassienB/data-data-structures.git
[submodule "data-debugging"]
	path = data-debugging
	url = https://github.com/CassienB/data-debugging.git
[submodule "data-system-parameters"]
	path = data-system-parameters
	url = https://github.com/CassienB/data-system-parameters.git
[submodule "data-csv"]
	path = data-csv
	url = https://github.com/CassienB/data-csv.git
[submodule "data-api"]
	path = data-api
	url = https://github.com/CassienB/data-api.git
[submodule "data-table-design"]
	path = data-table-design
	url = https://github.com/CassienB/data-table-design.git
[submodule "data-db-design"]
	path = data-db-design
	url = https://github.com/CassienB/data-db-design.git
[submodule "data-interacting-with-db"]
	path = data-interacting-with-db
	url = https://github.com/CassienB/data-interacting-with-db.git
[submodule "data-interacting-with-code"]
	path = data-interacting-with-code
	url = https://github.com/CassienB/data-interacting-with-code.git
[submodule "data-back-to-school"]
	path = data-back-to-school
	url = https://github.com/CassienB/data-back_to_school_query.git
[submodule "data-environment"]
	path = data-environment
	url = https://github.com/CassienB/data-environment.git
[submodule "data-sql-queries"]
	path = data-sql-queries
	url = https://github.com/CassienB/data-sql-queries.git
[submodule "data-notebook"]
	path = data-notebook
	url = https://github.com/CassienB/data-notebook.git
[submodule "data-numpy"]
	path = data-numpy
	url = https://github.com/CassienB/data-numpy.git
[submodule "data-us-oil-and-gas-production"]
	path = data-us-oil-and-gas-production
	url = https://github.com/CassienB/data-us-oil-and-gas-production.git
[submodule "data-multiple-files-with-pandas"]
	path = data-multiple-files-with-pandas
	url = https://github.com/CassienB/data-multiple-files-with-pandas.git
[submodule "data-opengraph_api"]
	path = data-opengraph_api
	url = https://github.com/CassienB/data-opengraph_api.git
[submodule "data-stock-market-api"]
	path = data-stock-market-api
	url = https://github.com/CassienB/data-stock-market-api.git
[submodule "data-book_scraping"]
	path = data-book_scraping
	url = https://github.com/CassienB/data-book_scraping.git
[submodule "data-recipe_scraping"]
	path = data-recipe_scraping
	url = https://github.com/CassienB/data-recipe_scraping.git
[submodule "data-query-the-db"]
	path = data-query-the-db
	url = https://github.com/CassienB/data-query-the-db.git
[submodule "data-join-the-tables"]
	path = data-join-the-tables
	url = https://github.com/CassienB/data-join-the-tables.git
[submodule "data-matplotlib-intro"]
	path = data-matplotlib-intro
	url = https://github.com/CassienB/data-matplotlib-intro.git
[submodule "data-real-estate-estimator"]
	path = data-real-estate-estimator
	url = https://github.com/CassienB/data-real-estate-estimator.git
[submodule "data-real-estate-advanced-estimator"]
	path = data-real-estate-advanced-estimator
	url = https://github.com/CassienB/data-real-estate-advanced-estimator.git
[submodule "data-law-of-large-numbers"]
	path = data-law-of-large-numbers
	url = https://github.com/CassienB/data-law-of-large-numbers.git
[submodule "data-random-variables"]
	path = data-random-variables
	url = https://github.com/CassienB/data-random-variables.git
[submodule "data-central-limit-theorem"]
	path = data-central-limit-theorem
	url = https://github.com/CassienB/data-central-limit-theorem.git
[submodule "data-data-preparation"]
	path = data-data-preparation
	url = https://github.com/CassienB/data-data-preparation.git
[submodule "data-exploratory-analysis"]
	path = data-exploratory-analysis
	url = https://github.com/CassienB/data-exploratory-analysis.git
[submodule "data-orders"]
	path = data-orders
	url = https://github.com/CassienB/data-orders.git
[submodule "data-context-and-setup"]
	path = data-context-and-setup
	url = https://github.com/CassienB/data-context-and-setup.git
[submodule "data-orders-regression"]
	path = data-orders-regression
	url = https://github.com/CassienB/data-orders-regression.git
[submodule "data-sellers"]
	path = data-sellers
	url = https://github.com/CassienB/data-sellers.git
[submodule "data-logit"]
	path = data-logit
	url = https://github.com/CassienB/data-logit.git
[submodule "data-linear-regression"]
	path = data-linear-regression
	url = https://github.com/CassienB/data-linear-regression.git
